* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://images.unsplash.com/photo-1531824475211-72594993ce2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* HEADING/JUMBOTRON */
.jumbotron {
    background-color: rgba(85 , 87, 66, .70);
    border-bottom: 8px solid #000;
}

#datetime-box {
    background-color: rgba(85, 58, 11, .9);
    margin: 0 200px;
    padding: 10px;
    border-radius: 5px;
}

.app-title {
    text-align: center;
    color: #ffffff;
    font-family: 'Oxygen', sans-serif;
    font-size: 60px;
}

#currentday {
    text-align: center;
    color: #ffffff;
    font-family: 'Oxygen', sans-serif;
    font-size: 25px;
    margin: 15px auto 0 auto;
}

#currenttime {
    text-align: center;
    color: #ffffff;
    font-family: 'Oxygen', sans-serif;
    font-size: 22px;
    margin: 15px auto 0 auto;
}

#clear-schedule-button {
    display: block;
    text-align: center;
    margin: 15px auto 0 auto;
    border: none;
    font-family: 'Oxygen', sans-serif;
}

/* CONTAINER & CONTENT FOR PLANNER */
.container {
    margin: auto auto 50px auto;
}

.row {
    white-space: pre-wrap;
    height: 75px;
    padding: 10;
    margin: 0;
}

.time-display {
    text-align: center;
    margin: auto;
    font-size: 20px;
}

.col-md-10 {
    /* background-color: #e4dae2t; */
    border: none;
    resize: none;
    color: #000000;
    font-size: 18px;
    border-left: 1px solid #cbcbcb;
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
    padding: 10px;
    white-space: pre-wrap;
}


